body {
	background: teal;
}

h4 {
	text-align: right;
	color: white;
	font-size: 30px;
}

#gif-form {
	text-align: right;
}

.container {
	background: tan;
	border-radius: 10px;
	height: 100px;
	padding: 10px;
}

.sport-button {
	background-color: teal;
	color: white;
	border-radius: 5px;
	margin-left: 5px;
	margin-right: 5px;
}

#gifs {
	text-align: center;
}